<!DOCTYPE html>
<html lang="en">
	<!-- head -->
	<%- include ("../head.ejs") %>
	<!-- head -->
	<body>
		<!-- header -->
		<%- include ("../header.ejs") %>
		<!-- header -->

		<!-- error -->
		<%- include ("../error.ejs") %>
		<!-- error -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">購物車</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li class="active"></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12">
								<div class="order-summary clearfix">
									<form action="/shopping/checkout" method="post">
										<table class="shopping-cart-table table">
											<thead>
												<tr>
													<th></th>
													<th class="text-left">商品</th>
													<th></th>
													<th class="text-center">價格</th>
													<th class="text-center">數量</th>
													<th></th>
													<th></th>
												</tr>
												<% for (var i = 0; i < cart.length; i++) { %>
													<tr>
														<td><input type="checkbox" name="cartId" value=<%- cart[i].cartId %> checked="checked"></td>
														<td class="thumb"><img src=<%- cart[i].picture_url %> alt="" height="150" width="150"></td>
														<td class="details">
															<a href="/products/<%- cart[i].productId %>?quantity=<%- cart[i].quantity %>"><%- cart[i].name %></a>
														</td>
														<% if (cart[i].discount > 0) { %>
															<td class="price text-center"><strong>$<%- cart[i].price * cart[i].discount %></strong>
															<br>
															<del class="font-weak">$<%- cart[i].price%></del></td>
														<% } else { %>
															<td class="price text-center"><strong>$<%- cart[i].price %> </strong></td>
														<% } %>
														<td class="qty text-center"><%- cart[i].quantity %> <%- cart[i].state %></td>
														<td class="text-right"><button class="main-btn icon-btn delete-btn" data-cart-id="<%- cart[i].cartId %>"><i class="fa fa-close"></i></button></td>
													</tr>
												<% } %>
											</thead>
										</table>
										<% if (cart.length) { %>
											<div class="pull-right">
												<button class="primary-btn">結帳</button>
											</div>
										<% } %>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>
		

		<!-- footer -->
		<%- include ("../footer.ejs") %>
		<!-- footer -->
	</body>
	<script>
        document.addEventListener('DOMContentLoaded', function() {
            const deleteButtons = document.querySelectorAll('.delete-btn');
            deleteButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const cartId = this.getAttribute('data-cart-id');
                    fetch(`/shopping/cart/${cartId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(() => {
                        alert('Product removed from cart successfully!');
                        location.reload(); // 刷新页面以更新购物车
                    })
                    .catch(error => {
                        alert('An error occurred while removing the product from the cart.');
                    });
                });
            });
        });
    </script>
</html>
